                    <!-- Pagination -->

                    <div>
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </div>


                    <div class="card-body">
                
                        <!--strong>Page {{current_page}} of {{total_pages}} </strong-->
            
                            <ul class="pagination">
                                {% if current_page > 1 %} <li class="page-item"><a class="page-link" href="fellows_directory?page=1">First Page</a></li>{% endif %}
            
                                 
                                <li {% if current_page <= 1 %} class='page-item disabled' {% endif %}> 
                                    <a class="page-link" {% if current_page > 1 %} href = 'fellows_directory?page={{previous_page}}' {% endif %}>Previous</a>
                                </li>
        
        
                                <!--div>
                                {% if total_pages <= 10 %}
            
                                    {% for i in 1.. total_pages %}
                                        {% if i == current_page %} 
                                        <li class="page-item active"><span class="page-link">{{i}}<span class="sr-only">(current)</span></span>
                                        {% else %}
            
                                        <li class="page-item"><a class="page-link" href="fellows_directory?page={{i}}">{{i}}</a></li>
            
                                        {% endif %}
            
                                    {% endfor %}
            
                                {% elseif total_pages > 10  %}
            
                                    {% if current_page <= 4 %}
                                      {% for x in 1..8 %}
                                        {% if x == current_page %}
                                         <li class="page-item active"><span class="page-link">{{x}}<span class="sr-only">(current)</span></span>
                                        {% else %}
                                         <li class="page-item"><a class="page-link" href="fellows_directory?page={{x}}">{{x}}</a></li>
                                        {% endif %}
                                      {% endfor %}
                                    {% endif %}
            
                                    <li class="page-item"><a class="page-link">...</a></li>
                                    <li class="page-item"><a class="page-link" href="fellows_directory?page={{second_last}}">{{second_last}}</a></li>
                                    <li class="page-item"><a class="page-link" href="fellows_directory?page={{total_pages}}">{{total_pages}}</a></li>
            
                                {% endif %}
                                </div-->
        
                                <li {% if current_page >=  total_pages %} class='page-item disabled' {% endif %} >
                                    <a class="page-link" {% if current_page < total_pages %} href= 'fellows_directory?page={{next_page}}' {% endif %}>Next</a>
                                </li>
            
                                {% if current_page < total_pages %} <li class="page-item"><a class="page-link" href="fellows_directory?page={{total_pages}}">Last &rsaquo;&rsaquo;</a></li>{% endif %}
            
                            </ul>   
                    </div>
                <!--Pagination-->