{% extends "backend/patials/master.html" %}


{% block title %} Dashboard {% endblock %}

{% block content %}

<div class="content container-fluid">
				
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">{% block page_header %} Welcome {{staff_name}}! {% endblock %}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">{{title}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
    
        <!--<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <a href="view_staff">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-file"></i></span>
                    <div class="dash-widget-info">
                        <h3>****</h3>
                        <span>View a Staff Record</span>
                    </div>
                </div>
                </a>
            </div>
        </div>-->

        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <a href="assetissuance">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-gg"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{employees_num}}</h3>
                        <span>Asset Issuance</span>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <a href="receiveable">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-handshake-o"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{tprojects}}</h3>
                        <span>Receivables</span>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <a href="inventory">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-cube"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{tinventory}}</h3>
                        <span>Inventory</span>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <a href="users">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                         <div class="dash-widget-info">
                            <h3>{{epms_user_num}}</h3>
                            <span>Logs</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!--<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="card dash-widget">
                        <a href="users">
                        <div class="card-body">
                            <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                            <div class="dash-widget-info">
                                <h3>{{epms_user_num}}</h3>
                                <span>Logs</span>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>-->
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="card dash-widget">
                        <a href="report">
                            <div class="card-body">
                                <span class="dash-widget-icon"><i class="fa fa-book"></i></span>
                                <div class="dash-widget-info">
                                    <h3>{{retired_num}}</h3>
                                    <span>Report</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--div class="col-md-6 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Sales Overview</h3>
                            <div id="line-charts"></div>
                        </div>
                    </div>
                </div-->
            </div>
        </div>
    </div>
    

</div>

{% endblock %}


{% block jsscript %} 



{% endblock %}